:root {
  --bg: 0 0% 100%;
  --fg: 0 0% 3.9%;

  --primary: 30 4% 10%;

  --black: 30 4% 10%;
  --white: 0 0% 100%;

  --error: 0 100% 63%;

  --gray100: 0 0% 98%;
  --gray300: 0 0% 82%;
  --gray600: 60 0% 55%;
  --gray800: 30 1% 28%;

  --border: 214 32% 91%;
  --muted: 210 40% 96%;

  --radius-md: 12px;
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: 0 0% 3.9%;
    --fg: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;

    --border: 217 33% 17%;
    --muted: 217 33% 17%;
  }
} */

@theme {
  --color-primary: hsl(var(--primary));
  --color-black: hsl(var(--black));
  --color-white: hsl(var(--white));
  --color-error: hsl(var(--error));

  --color-gray-100: hsl(var(--gray100));
  --color-gray-300: hsl(var(--gray300));
  --color-gray-600: hsl(var(--gray600));
  --color-gray-800: hsl(var(--gray800));

  --color-border: hsl(var(--border));
  --color-muted: hsl(var(--muted));

  --radius-md: var(--radius-md);
  --shadow-soft: var(--shadow-soft);

  --background-image-winesHero: url("/wines/mainBG.png");

  --animate-slideIn: slideIn 0.3s ease forwards;
  --animate-slideOut: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}
