name: Create Branch on Issue
on:
  issues:
    types: [opened, assigned]

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Create branch name from issue title
        id: branch_name
        run: |
          # 이슈 제목을 가져와서 소문자로 바꾸고, 공백과 특수문자를 '-'로 변경
          TITLE="${{ github.event.issue.title }}"
          # 1. 소문자 변환 2. 영문/숫자 외 문자를 '-'로 치환 3. 연속된 '-'를 하나로 4. 앞뒤 '-' 제거
          CLEAN_TITLE=$(echo "$TITLE" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9]/-/g' | sed 's/--*/-/g' | sed 's/^-//;s/-$//')
          echo "formatted_title=$CLEAN_TITLE" >> $GITHUB_OUTPUT

      - name: Create branch
        uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # feature/이름-제목 형식으로 생성됩니다.
          branch: 'feature/${{ steps.branch_name.outputs.formatted_title }}'
