name: Create Branch on Issue
on:
  issues:
    types: [opened, assigned] # 이슈가 열리거나 담당자가 지정될 때

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Create branch
        uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'feature/issue-${{ github.event.issue.number }}'
